In [1]:
a = [10,20,30,40]
for i in a:
    print(i,end=" ")

10 20 30 40

In [7]:
a = [10, 20, 30, 40]
i = 0
while i < len(a):
    print(a[i], end=" ")
    i += 1

10 20 30 40

In [15]:
for i in a:
    if i==30:
        print("value found")
        break
else:
    print("value not found")

value found

In [19]:
#wap to find the index value 30 in the list
for i in range(len(a)):
    if a[i]==30:
        print(i)
        break

2

In [21]:
items=[10,20,30,40,50,60,70,80]
print(items.index(80))

7

In [29]:
a=[10,2,5,6,42,52,18,35,14,25,95,74,82,20,30,40,58,50,60,75,43,56,64,57,48,63,37,19,27,47]
print(len(a))

30

In [31]:
a[len(a)-1]

47

In [33]:
a[-4]

37

In [35]:
a[-12]

60

In [37]:
a[-len(a)]

10

In [1]:
information = [1,"ABC",84.9,'a']
print(information)

[1, 'ABC', 84.9, 'a']

In [3]:
information.append(str("satish"))
information

[1, 'ABC', 84.9, 'a', 'satish']

In [7]:
information += "hello"
print(information)

[1, 'ABC', 84.9, 'a', 'satish', 'h', 'e', 'l', 'l', 'o']

In [9]:
information[1]="XYZ"
information

[1, 'XYZ', 84.9, 'a', 'satish', 'h', 'e', 'l', 'l', 'o']

In [13]:
information[0:3]

[1, 'XYZ', 84.9]

In [15]:
information[::-1]

['o', 'l', 'l', 'e', 'h', 'satish', 'a', 84.9, 'XYZ', 1]

In [17]:
student_2=[2,"STU",8.58,"Female","India","9876543210"]

In [19]:
student_2[::-3]

['9876543210', 8.58]

In [21]:
student_2[::2]

[2, 8.58, 'India']

In [25]:
x=int(input())
a=[]
a.append(x)
a=a*100
a

 12

[12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12]

In [27]:
# Create a list of first 10 odd numbers
odd_numbers = list(range(1, 20, 2))

# Print the list
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [37]:
numbers = list(range(1, 11))

odd_numbers = [n for n in numbers if n % 2 != 0]

print("Original List:", numbers)
print("Odd Numbers List:", odd_numbers)

Original List: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Odd Numbers List: [1, 3, 5, 7, 9]

In [39]:
numbers = list(range(1, 11))

even_numbers = [n for n in numbers if n % 2 == 0]

print("Original List:", numbers)
print("Even Numbers List:", even_numbers)

Original List: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Even Numbers List: [2, 4, 6, 8, 10]

In [43]:
list1 = list(range(1,11))
odd = list1[::2]
print(list1)
print(odd)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]

In [45]:
even = list1[1::2]
print(even)

[2, 4, 6, 8, 10]

In [47]:
#concatenation
list_1 = ['a','b','c','d']
print(list_1)
list_2 = ['C','D','E','F']
print(list_2)

['a', 'b', 'c', 'd']
['C', 'D', 'E', 'F']

In [49]:
n = str(input())
list = list(n)
print(list)

 satish

['s', 'a', 't', 'i', 's', 'h']

In [1]:
#wap to get the input from the user fpr creating two lists and add the elements of one list into the other

In [5]:
size_of_list_1=int(input())
list_1=[]
for i in range(size_of_list_1):
    list_1.append(int(input()))
    print(list_1)
size_of_list_2=int(input())
list_2=[]
for i in range(size_of_list_2):
    list_2.append(int(input()))
    print(list_2)

 4
 12

[12]

 26

[12, 26]

 10

[12, 26, 10]

 6

[12, 26, 10, 6]

 4
 12

[12]

 26

[12, 26]

 10

[12, 26, 10]

 6

[12, 26, 10, 6]

In [3]:
size_of_list_2=int(input())
list_2=[]
for i in range(size_of_list_2):
    list_2.append(int(input()))
    print(list_2)

 4
 12

[12]

 26

[12, 26]

 10

[12, 26, 10]

 6

[12, 26, 10, 6]

In [7]:
#wap to find the maximum number in the list

In [9]:
a=int(input())
b=list(map(int,input().split()))
print(max(b))

 5
 12 26 10 67 99

99

In [11]:
#WAP to findthe second largest number in the list.

In [21]:
a=int(input())
b=list(map(int,input().split()))
b.sort()
print(b[-2])

 5
 12 99 26 10 6

26

In [23]:
#WAP to create a list of 1 to 10 elements and from the lsit created,create another list with only odd values

In [35]:
list1 = list(range(1,11))
odd = list1[::2]
print(list1)
print(odd)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10]

In [37]:
#WAP to find the largest eeven and largest odd number in the list

In [39]:
n = int(input())
b = []
for i in range(n):
    a = int(input())
    b.append(a)
c = []
d = []
for i in b:
    if(i%2==0):
        c.append(i)
    else:
        d.append(i)
c.sort()
d.sort()
print("Largest even number:",c[-1])
print("Largest odd number:",d[-1])

 5
 12
 99
 26
 10
 6

Largest even number: 26
Largest odd number: 99

In [45]:
a = list(map(int,input().split())
b = list(map(int,input().split())
union = list(set().union(a,b))
print('The Union of two lists is:',union)

SyntaxError: unterminated string literal (detected at line 4) (859194238.py, line 4)

In [ ]:
#wap to print the number of repeated elements in a list