In [1]:
num = 10
num_str = str(num)  # Convert int to str
print(num_str)      # Output: '10'
print(type(num_str))  # Output: <class 'str'>

10
<class 'str'>

In [2]:
num = 10.5
num_str = str(num)  # Convert Float to str
print(num_str)      # Output: '10'
print(type(num_str))  # Output: <class 'str'>

10.5
<class 'str'>

In [3]:
num = True
num_str = str(num)  # Convert bool to str
print(num_str)      # Output: '10'
print(type(num_str))  # Output: <class 'str'>

True
<class 'str'>

In [4]:
num = 1 + 2j
num_str = str(num)  # Convert complex to str
print(num_str)      # Output: '10'
print(type(num_str))  # Output: <class 'str'>

(1+2j)
<class 'str'>

In [5]:
num_str = "25"
num = int(num_str)  # Convert str to int
print(num)          # Output: 25
print(type(num))    # Output: <class 'int'>

25
<class 'int'>

In [6]:
num_float = 10.7
num_int = int(num_float)  # Convert float to int (truncates decimal part)
print(num_int)            # Output: 10
print(type(num_int))      # Output: <class 'int'>

10
<class 'int'>

In [7]:
num_int = 5
num_float = float(num_int)  # Convert int to float
print(num_float)            # Output: 5.0
print(type(num_float))      # Output: <class 'float'>

5.0
<class 'float'>

In [8]:
num_str = "7.8"
num_float = float(num_str)  # Convert str to float
print(num_float)            # Output: 7.8
print(type(num_float))      # Output: <class 'float'>

7.8
<class 'float'>

In [9]:
num_str = True
num_float = float(num_str)  # Convert Bool to float
print(num_float)            # Output: 7.8
print(type(num_float))      # Output: <class 'float'>

1.0
<class 'float'>

In [10]:
num_float = 9.5
num_str = str(num_float)    # Convert float to str
print(num_str)              # Output: '9.5'
print(type(num_str))        # Output: <class 'str'>

9.5
<class 'str'>

In [11]:
my_list = [1, 2, 3]
my_tuple = tuple(my_list)  # Convert list to tuple
print(my_tuple)            # Output: (1, 2, 3)
print(type(my_tuple))      # Output: <class 'tuple'>

(1, 2, 3)
<class 'tuple'>

In [12]:
my_tuple = (4, 5, 6)
my_list = list(my_tuple)  # Convert tuple to list
print(my_list)            # Output: [4, 5, 6]
print(type(my_list))      # Output: <class 'list'>

[4, 5, 6]
<class 'list'>

In [13]:
a = "2348435"
b = int(a)
print(b)

2348435

In [14]:
g = True
f = int(g)
f

1

In [15]:
x = complex(2)
print(x,type(x))

(2+0j) <class 'complex'>

In [16]:
x = complex(7.7)
print(x,type(x))

(7.7+0j) <class 'complex'>

In [17]:
x = complex(False)
print(x,type(x))

0j <class 'complex'>