In [ ]:
#Variables

In [1]:
Bike_name = "Royal Enfield"

In [2]:
Bike_name

'Royal Enfield'

In [3]:
a = 10
b = a * 5
c = "Your result = "
print(c,b)

Your result =  50

In [4]:
x,y,z = 50,"Apple",6

In [ ]:
#Constant

In [5]:
import math

In [6]:
math.e ## Euler's number

2.718281828459045

In [7]:
math.pi

3.141592653589793

In [8]:
math.inf

inf

In [9]:
p = 3.141592653589793
r = 10
print(p * r * r)

314.1592653589793

In [10]:
## print the constant infinity value of positive and negative

In [11]:
import math

positive_infinity = math.inf
print("Positive Infinity:", positive_infinity)

negative_infinity = -math.inf
print("Negative Infinity:", negative_infinity)

Positive Infinity: inf
Negative Infinity: -inf

In [12]:
#Calculate the simple interest and display result
Amount = 5000
ri = 8.5
tm = 5.5

si = (Amount * ri * tm)/100
print(si)

2337.5

In [13]:
a = (7 + 8j)
b = (3.1 + 6j)
print(a ,"+", b ,"=", (a+ b))

(7+8j) + (3.1+6j) = (10.1+14j)

In [14]:
x, y, z = 5,0,9

print(y > z)
print(x < z)
print(y == z)

False
True
False

In [ ]:
#Data Types

In [15]:
a = 100
type(a)

int

In [16]:
b = 10.23
type(b)

float

In [17]:
c = True
type(c)

bool

In [18]:
str = "1j"
print(str)

1j

In [ ]:
#Escape Quote

In [19]:
# \ Can be used to escape quotes

In [20]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [21]:
txt1 = 'It\'s alright.'
print(txt1)

It's alright.

In [22]:
print('\'"Yes", he.\'')

'"Yes", he.'

In [23]:
print("First \nsecond")

First
second

In [ ]:
#Raw string

In [2]:
print(r'C:\some\name')

C:\some\name

In [25]:
print(r'C:\some\name') # r represent that (read the sentence as it is)

C:\some\name

In [26]:
doc1 = "24 - aug - 2024"
print(type(doc1))

<class 'str'>

In [ ]:
#Type Conversion

In [27]:
e = 180.3
s = int(e)
type(s)

int

In [28]:
age = "20"
usera = int(40)
vo_age = int("18")

print(type(age))
print(type(usera))
print(type(vo_age))

<class 'str'>
<class 'int'>
<class 'int'>

In [29]:
age = int(20.98)
type(age)

int

In [ ]:
#Strings

In [30]:
a = 'Welcome to strings'
print(a[1])
print(a[9])

e
o

In [31]:
x = "Hello world"
print(x[-1]) # last word of string

d

In [32]:
y = "Hello world" #slicing in string
print(y[:2])

He


## String Slicing in Python

## Syntax:
- **string[start:stop:step]**

### Parameters:
- **`start`**: Starting index (inclusive, default is 0).
- **`stop`**: Ending index (exclusive).
- **`step`**: Step between indices (default is 1).

#### Slicing with Negative Indices:

In [33]:
text = "Hello, World!"
print(text[-6:-1])

World

#### Slicing with a Step:

In [34]:
text = "Hello, World!"
print(text[0:12:2])

Hlo ol

#### Reverse a String:

In [35]:
text = "Hello world"
print(text[::-1])  

text = "Hello world"
print(text[::-2])  

text = "Hello world"
print(text[::2])

text = "Hello world"
print(text[-2::])

dlrow olleH
drwolH
Hlowrd
ld

### String Concatenation

In [36]:
# Using + operator:
str1 = "Hello"
str2 = "World"
result = str1 + " " + str2
print(result)

Hello World

In [37]:
# Using join() method:
str_list = ["Hello", "World"]
result = " ".join(str_list)
print(result)

Hello World

In [38]:
x = 'Py"thon'
print(x)

Py"thon

In [42]:
num = "123"
c = num[::-1]
y = int(c)
y

321